@inherits LayoutComponentBase

<MudThemeProvider Theme="mudTheme" />
<MudLayout>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private readonly static MudTheme mudTheme = new MudTheme
        {
            PaletteLight = new PaletteLight
            {
                Primary = "#3A59D1",
                AppbarBackground = "#3A59D1",

            },
            PaletteDark = new PaletteDark
            {
                Primary = "#3A59D1",
                AppbarBackground = "#3A59D1",
            }

        };
}